@font-face {
    font-family: MarketDeco;
    src: url("../fonts/market_deco.ttf")  format("truetype");
    font-weight:400;
}
body {
	background-color: #FCEBD5;
}
ul {
	list-style-type: none;
}
#global {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#start {
	position: absolute;
	top: 0px;
	left: 0px;
}
#top-bg {
	position: fixed;
	width: 100%;
	height: 42px;
	background-color: #000000;
	top: 0px;
	left: 0px;
	color: #FFF;
	z-index: 11;
}
.resume {
	margin-top: -1px;
}
.top_divider {
	margin-top: -3px;
}
#top_nav {
	position: relative;
	/*left: 700px;*/
	float: right;
	margin-right: 15px;
	width: 296px;
	height: 40px;
	z-index: 12;
}
#top_nav a {
	font-family: MarketDeco, Lucida Grande, sans serif;
	font-size: 15px;
	color: #C73C27;
	text-decoration: none;
	float: right;
}
#top_nav li {
	float: right;
	padding-left: 15px;
}
#tumblr a {
	width: 36px;
	height: 22.5px;
	display: block;
	background: url('../images/top_nav/tumblr.png') no-repeat;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
}
#tumblr a:hover {
	 background-position: 0 -24.5px;
}
#linkedin a {
	width: 63px;
	height: 22.5px;
	display: block;
	background: url('../images/top_nav/linkedin.png') no-repeat;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
}
#linkedin a:hover {
	 background-position: 0 -23.5px;
}
#twitter a {
	width: 56px;
	height: 22.5px;
	display: block;
	background: url('../images/top_nav/twitter.png') no-repeat;
	transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
}
#twitter a:hover {
	 background-position: 0 -26.5px;
}
#logo {
	position: fixed;
	background-image: url('../images/nomo-logo.png');
	background-repeat: no-repeat;
	width: 103px;
	height: 156px;
	left: 89px;
	top: 70px;
	z-index: 4;
}
#name {
	position: absolute;
	top: 118px;
	left: 170px;
	background-image: url('../images/logo_name.png');
	background-repeat: no-repeat;
	width: 279px;
	height: 102px;
	z-index: 5;
}
#nav {
	left: 0px;
	list-style: none;
	position: fixed;
	top: 240px;
	width: 150px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	text-align: right;
	z-index: 100;
}
#nav li {
	margin-bottom: 10px;
	margin-top: 10px;
}
#nav a {
	font-family: MarketDeco, Lucida Grande, sanserif;
	font-size: 22px;
	color: #000000;
	display: block;
	text-decoration: none;
	opacity:.50;
	filter:alpha(opacity=50);
	filter: “alpha(opacity=50)”;
}
#nav a:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
	filter: “alpha(opacity=100)”;
}
#nav .current a {
	opacity:1.0;
	filter:alpha(opacity=100);
	filter: “alpha(opacity=100)”;
}
.current {
	opacity:1.0;
	filter:alpha(opacity=100);
	filter: “alpha(opacity=100)”;
}
#twit_box {
	position: relative;
	/*border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;*/
	margin-top: 15px;
	margin-left: 21px;
	font-family: Futura, Helvetica, sans serif;
	font-size: 12px;
	color: #fff;
	background-color: #000;
	width: 160px;
	height: 100px;
	padding: 5px;
}
#twit_box a {
	text-decoration: none;
	color: #D8D8D8;
}
.section-container {
	position: relative;
	margin-left: 286px;
	width: 685px;
	z-index: 10;
}
#footer {
	position: absolute;
	background-color: #000;
	top: 6500px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	font-family: Futura, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	box-shadow: 0px -4px 20px #000000;
		-moz-box-shadow: 0px -4px 20px #000000;
		-webkit-box-shadow: 0px -4px 20px #000000;
}
/*Welcome*/
#section-1 {
	position: relative;
	top: 0;
	left: 0;
}
#home {
	position: relative;
	top: 236px;
	left: 254px;
	width: 810px;
	height: 300px;
}
#welcome_circle {
	position: relative;
	background-color: #C73C27;
	width: 159px;
	height: 159px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-family: 'Montserrat', Trebuchet MS, sans-serif;
	font-size: 25px;
	color: #FCEBD5;
	text-align: center;
	float: Left;
}
#welcome_circle img {
	vertical-align: middle;
	margin-top: 65px;
}
.welcome_defin {
	position: relative;
	margin-top: -25px;
	margin-left: 15px;
	float: left;
}
.welcome_defin p {
	font-family: Futura, Helvetica, sans-serif;
	font-size: 25px;
	color: #000000;
	margin-top: -42px;
	margin-left: 80px;
}
.welcome_defin h1 {
	font-family: Futura, Helvetica, sans-serif;
	font-size: 71px;
	color: #C73C27;
}
.noun {
	font-family: 'Montserrat', Trebuchet MS, sans-serif;
	font-size: 21px;
	font-style: italic;
	color: #C73C27;
}
.secondary_def {
	padding-left: 32px;
}
/*Work*/
#section-2 {
	position: relative;
	top: 500px;
	left: 0px;
	background-color: #C73C27;
	width: 100%;
	height: 2650px;
	box-shadow: 0px -4px 20px #000000;
		-moz-box-shadow: 0px -4px 20px #000000;
		-webkit-box-shadow: 0px -4px 20px #000000;
}
.work-title {
	font-family: MarketDeco, Lucida Grande, sanserif;
	font-size: 265px;
}
.work-circle {
	position: relative;
	width: 140px;
	height: 140px;
	background-color: #000000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.work-circle img {
	margin-top: 56px;
}
.left {
	float: left;
}
.left img {
	margin-left: 25px;
}
.middle {
	float: left;
	margin-left: 130px;
}
.middle img {
	margin-left: 17px;
}
.right {
	float: right;
}
.right img {
	margin-left: 27px;
}
.window {
	margin-top: 45px;
	border: 1px solid #fff;
}
#occupydc {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/occupy_dc/odc.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#occupydc:hover {
	background-position: -200px 0px;
}
#junu {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/junu/junu.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#junu:hover {
	background-position: -200px 0px;
}
#efc {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/elite_fitness/efc.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#efc:hover {
	background-position: -200px 0px;
}
#somerville {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/somerville_homes/som.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#somerville:hover {
	background-position: -200px 0px;
}
#branding {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/branding/branding.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#branding:hover {
	background-position: -200px 0px;
}
#vou {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/villages_of_urbana/vou.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#vou:hover {
	background-position: -200px 0px;
}
#baf {
	position: relative;
	display: block;
	width: 685px;
	height: 255px;
	float: left;
	clear: both;
	background: url("../images/portfolio/bay_forest/baf.png") no-repeat;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
}
#baf:hover {
	background-position: -200px 0px;
}
/*About*/
#section-3 {
	position: relative;
	top: 500px;
	left: 0px;
	background-color: #1C677C;
	width: 100%;
	height: 1550px;
	padding-top: 25px;
	box-shadow: 0px -4px 20px #000000;
		-moz-box-shadow: 0px -4px 20px #000000;
		-webkit-box-shadow: 0px -4px 20px #000000;
}
.about-title {
	font-family: MarketDeco, Lucida Grande, sanserif;
	font-size: 152.4px;
}
.about-circle {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 140px;
	height: 140px;
	background-color: #000000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.about-circle img {
	margin-top: 50px;
	margin-left: 18px;
}
#skills-container {
	margin-top: 35px;
	margin-bottom: 100px;
	width: 685px;
	height: 375px;
	clear: both;
}
#html-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#js-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#jq-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#ai-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#ps-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#flash-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
	margin-right: 50px;
}
#research-skill {
	position: relative;
	/*background-image: linear-gradient(left, #c73c27 50%, #821d0d 50.001%);*/
	display: block;
	background-color: #C73C27;
	width: 52px;
	heght:372px;
	float: left;
	border: 1px solid #fff;
}
.left-about {
	float: left;
}
.left-about img {
	margin-left: 48px;
}
.middle-about {
	float: left;
	margin-left: 130px;
}
.middle-about img {
	margin-left: 16px;
}
.right-about {
	float: right;
}
.right-about img {
	margin-left: 19px;
}
.creative_process-graph {
	position: relative;
	top: 40px;
	margin-left: 95px;
	clear: left;
	display: block;
	width: 607px;
	height: 477px;
	background-image: url{"../images/about/creative_process-graph.png");
}
/*Purpose*/
/*Contact*/
