#container {
	background-image: url(images/content_bkgrnd.jpg);
	background-repeat: repeat-y;
	padding: 0px;
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#hcontainer {
	height: 168px;
	background-image: url(images/header_bkgrnd.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
#header {
	padding: 0px;
	height: 154px;
	width: 900px;
	text-align:center;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#navigation {
	width: 900px;
	height: 50px;
}
#content {
	width: 900px;
	padding-right: 50px;
	padding-bottom: 0px;
	padding-left: 50px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 15px;
	top: 0px;
	position: relative;
}
#social {
	height: 50px;
	width: 150px;
	float: right;
	position: relative;
}
#footer {
	position: relative;
	height: 85px;
	width: 901px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919195;
	text-align: center;
}
#footer a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919195;
	text-align: center;
	text-decoration: none;
}
body {
	background-color: #000;
	background-image: url();
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.box_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFF;
}
#flickr_gallery {
	position: relative;
	height: 676px;
	width: 901px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
